.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
	width: 85%;
	padding: 5px;
	margin-bottom: 25px;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 85vh;
  max-width: 550px;
	padding: 20px;
	margin: 5px;
	border-radius: 57px;
	// background: var(--secondary-color);
	text-align: center;
	position: relative;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	transition: all 0.3s ease;

	a,
	h1,
	p {
		color: whitesmoke;
	}

	a {
		text-transform: uppercase;

		&:hover {
			color: whitesmoke;
			transform: scale(1.05);
			transition: all 0.3s ease;
		}
	}
}

.my-project-enter {
  opacity: .5;
}
.my-project-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.my-project-exit {
  opacity: .5;
}
.my-project-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}


.project-links {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	a,
	p {
		padding: 5px;
		margin: 0 5px;
		font-size: 1rem;
	}
}
