@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'scrollBar';
@import 'mixins';
@import 'navIconAnimation';
@import 'button';
@import 'header';
@import 'home';
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';
@import 'caseStudy';
@import 'mediaQueries';
@import 'arrow';

// :root {
// 	// --primary-color: #01b0d3;
// 	--secondary-color: #689d6a;
// 	--primary-gray: #474b4f;
// 	--section-2-bg: #f2f2f2;
// 	--section-3-bg: #fbfbfb;
// 	--section-4-bg: #f5f5f5;
// 	--text-color: #000;
// 	--box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// 	--border-radius: 0.8rem;
// 	--padding: 0.8rem;
//   --theme-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/60/twitter/247/sun-with-face_1f31e.png')
// }

// [data-theme='Dark'] {
// 	--primary-color: #353636;
// 	--secondary-color: #154734;
// 	--section-2-bg: #181818;
// 	--section-3-bg: #212121;
// 	--section-4-bg: #181818;
// 	--text-color: whitesmoke;
//   --theme-image: url('https://th.bing.com/th/id/OIP.ZizWeXaP32togYDMWkR4QQHaHa?w=214&h=214&c=7&r=0&o=5&dpr=1.25&pid=1.7')
// }

html,
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4 {
  @include textConfig();
}

h1 {
	font-size: 2.5rem;
  font-weight: bold;
}

h2 {
	font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p, li {
	font-size: 1.1rem;
	color: var(--text-color);
}

section {
  padding: 50px 0;
	min-height: 100vh;
  position: relative;
  overflow: hidden;
  &:nth-of-type(1) {
    .wave .shape-fill {
      fill: var(--section-2-bg);
    }
	}

	&:nth-of-type(2) {
		background-color: var(--section-2-bg);
    .wave .shape-fill {
      fill: var(--section-3-bg);
    }
	}

	&:nth-of-type(3) {
		background-color: var(--section-3-bg);
    .wave .shape-fill {
      fill: var(--section-4-bg);
    }
	}

	&:nth-of-type(4) {
		background-color: var(--section-4-bg);
    .wave .shape-fill {
      fill: var(--secondary-color);
    }
	}

  .wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 81px;
    }
  }
}

footer {
	background-color: var(--secondary-color);
	padding-bottom: 10px;
  position: fixed;
  bottom: 0;

	p {
		margin-top: 10px;
	}
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--text-color);
	min-width: 500px;
	height: 450px;
	padding: .8rem;
	margin-bottom: 1.5rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);

  
  input {
    font-family: inherit;
    border: none;
    padding: 5px;
  }
  
  textarea {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    padding: var(--padding);
    resize: vertical;
  }
  
  input:focus,
  textarea:focus {
    @include noFocus();
  }

  label {
    color: var(--section-4-bg);
    font-size: 1rem;
  }
}


label,
form .btn,
section .btn,
.btn a {
	color: whitesmoke;
}

small {
	font-size: 0.8rem;
	color: var(--text-color);
}

#home,
#about,
#contact,
#projects,
#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
  overflow: hidden;
}

.w-90 {
  width: 90%;
}

.p-100 {
  padding: 20px 100px;
}

.carousel {
  width: 100%;
}